@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Assistant|Cookie|Dosis|EB+Garamond|Noto+Serif|Patrick+Hand+SC|Poiret+One');
@font-face{
	font-family:fontawesome;
	src: url(\\include\Fonts\fontawesome-webfont.woff);
}

div#container {
	width: 	100%;
	margin: 0 auto;
}

.content {
	width: auto;
	height: calc(100% - 90px);
	background-color:#fff;
	padding: 0px;
	
	
}

.content p{
	color : #424242;
	font-size: 0.73em;
	padding-left: 15px;
}

ul#nav{
	
}

ul#nav li {
	list-style : none;
}

ul#nav li a {
	color: #CCCCCC;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	border-bottom: 1px solid #0A0A0A;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

ul#nav li a:hover {
	background-color: #030303;	
	color:#fff;
}

ul#nav li a.selected {
	background-color: #030303;	
	color:#fff;
}

/*FORM DETAILING */

.form{
	background:#f1f1f1;
}

.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }
.form input[type="email"] { width: 400px; }
.form input[type="password"] { width: 400px; }
.form input.birthday{width:60px;}
.form input.birthyear{width:120px;}
.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.form label.month {width: 135px;}
.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: 'Noto Serif', serif; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  /*background-image: url(images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);*/
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;}
.form .gender {
  width:410px;
  }
.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; -webkit-box-align:center; -webkit-box-pack:center; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 20px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }

.text-danger{color:#a94442}a.text-danger:hover{color:#843534}

textarea.form-control {
  height: 300px;
  width: 400px;
}


@media only screen and (max-width: 480px) {
	
	.form{
		margin-left:0px;
		padding-left:0px;
		padding-top:5px;
		margin-right:0px;
		
	}
	
	.content{
		margin-left:5px;
		margin-right:0px;
		
	}
	
	
}
	
@media only screen and (min-width: 480px) {
	.form{
		 width:470px; 
		 margin:0 auto; 
		 padding-left:50px; 
		
		 
	}

	.content{
		margin-left:270px;
	}

}